# Backend
SERVER_PORT=9092
SERVER_KEY=""
SERVER_CORS="http://localhost:9093"

# VAPID Keys
VAPID_EMAIL="mailto:me@stefankruik.nl"
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""

# Database
DATABASE_HOST=""
DATABASE_PORT=
DATABASE_USERNAME=""
DATABASE_PASSWORD=""